 
.task-form {
    background-color: whitze;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .task-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .task-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .task-form button:hover {
    background-color: #0056b3;
  }
  
  .task-form input, .task-form textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
  }
  